# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Node.js
#
# Workspaces (https://docs.npmjs.com/cli/v7/using-npm/workspaces/)
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vspscc
.history/
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Build output
build/
